@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #18191A;
    color: white;
}

nav {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1144px;
    margin: auto;
}

#logo {
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.links a:hover {
    background-color: #316eb3;
    text-decoration: underline;
}

#btnMenu {
    display: none;
}

.toggleMenu {
    font-size: 22px;
    display: none;
}

@media only screen and (max-width: 510px) {
    .toggleMenu {
        display: block;
        margin-right: 1rem;
    }
    .links {
        position: fixed;
        background-color: #21212c;
        min-height: calc(100vh - 51px);
        flex-flow: column;
        width: 100%;
        top: 51px;
        left: 100%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    .links a {
        width: 100%;
        text-align: center;
    }
    .links a:hover {
        background-color: #316eb3;
    }
    #btnMenu:checked~.links {
        left: 0;
    }
}


/*Main*/

navc {
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    scroll-snap-type: both mandatory;
}

a {
    align-items: center;
    flex: 0 0 auto;
    padding: .5rem;
    scroll-snap-align: start;
    transition: width 0.3s ease-out 0.15s;
    width: 50%;
}

section {
    margin-bottom: 1rem;
}

@media (min-width: 40rem) {
    a {
        width: 20%;
    }
    a:last-of-type,
    a:hover,
    a:focus {
        width: 25%;
    }
}

section navc a img {
    width: 90%;
}

section p a {
    align-items: center;
    text-decoration: none;
}