@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #000;
}
nav {
    color: rgb(66, 65, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1144px;
    margin: auto;
    z-index: 999999px;
}

#logo {
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;

}

.links {

    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.links a:hover {
    background-color: #316eb3;
    text-decoration: underline;
}

#btnMenu {
    display: none;
}

.toggleMenu {
    font-size: 22px;
    display: none;
}

@media only screen and (max-width: 510px) {
    .toggleMenu {
        display: block;
        margin-right: 1rem;
    }
    .links {
        position: fixed;
        background-color: #21212c;
        min-height: calc(100vh - 51px);
        flex-flow: column;
        width: 100%;
        top: 51px;
        left: 100%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    .links a {
        width: 100%;
        text-align: center;
    }
    .links a:hover {
        background-color: #316eb3;
    }
    #btnMenu:checked~.links {
        left: 0;
    }
}

/*Simple Card*/

.team{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
  }

  .tcontainer{
    width: 100%;
    height: 13rem;
  }

  .theader{
    width: 100%;
    height: 5rem;
    padding-top: 2.5rem;
    padding-left: 1rem;
  }

  .ttitle{
    color: white;
    font-weight: 700;
    font-size: 2rem;
  }

  .tpara{
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  .ticons{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;

  }


  .ticons a{
    padding-top: 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .ticons a h1{
   padding-left: 5px;
    font-size: 1rem;

  }

  .teamprofile{
    width: 100%;
    height: 100vh;

  }

  .pheader{
    padding-left: 1rem;
    padding-bottom: 4rem;

  }

  .position{
    width: 100%;
    height: 2rem;
    font-size: 2rem;
    color: hsl(0, 2%, 70%);

  }

  .pimg{
    padding-top: 1rem;
    object-fit: contain;
    width: 8rem;
    height: 8rem;
  }



/* /--Profile Card--/ */

/*.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.container {
    z-index: -1;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
}

.banner-img {
    position: absolute;
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
}

.btn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 1rem;
    background-color: var(--clr-primary);
}

footer p {
    color: #000;
}

@MEDIA only screen and (min-width: 1280px) {
    .links a {
        color: black;
    }
}*/
